@font-face {
  font-family: "Roboto-Thin";
  src: url(../fonts/Roboto/Roboto-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  font-family: "Roboto-Regular", sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
}

a:hover {
  text-decoration: underline;
}

.headline {
  font-family: "Roboto-Regular";
  text-align: center;
}

.subtitle {
  font-family: "Roboto-Thin";
  font-size: 1.4rem;
  text-align: center;
}

.container {
  display: flex;
}

.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2rem;
  justify-content: normal;
}

@media (max-width: 900px) {
  .gallery {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
    justify-content: center;
  }
}

.gallery-item {
  width: 300px;
  height: 300px;
  border: 1px solid #bbbbbb;
  margin: 10px 0px;
}

.gallery-item:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery-image {
  width: 300px;
  height: 240px;
  object-fit: cover;
}

figcaption {
  text-align: center;
  padding: 10px 0px;
  font-size: 1.25rem;
}
